//colors
$off-white: #e4e1e1;
$body-color: rgb(245, 245, 245);
$dark-blue: #2b4871;
$light-blue: #05badd;
$yellow: #ffb404;
$orange: #ff8007;
$red-orange: #ff3902;
$overlay-color: rgba(0, 0, 0, 0.5);
$facebook: #3b5998;
$linked-in: #007bb6;
$twitter: #00aced;
//dimentions
$sections-margin: 5rem;
$computers-card-margin: 2rem;
